---
layout: default
---

<header class="header-contact">
  <div class="overlay-light"></div>
  {% include nav.html %}
  <div class="home-title">
    <h1 class="animated slideInRight">
      Kontakt
    </h1>
    <h4>
      Skontaktuj się z nami już teraz!
    </h4>
  </div>
</header>
<div class="container contact-content">
  <div class="contact-text">
    <h2>Zamów u nas!</h2>
    <p>
      Poniżej znajdują się dane kontaktowe pracowni. Gorąco zapraszamy do
      kontaktu możliwego poprzez facebook, telefon, mail oraz instagram.
      Wystarczy wybrać opcję kontaktu z poniższego paska.
    </p>
    <h4>Słodkiego dnia życzy AleBabka!</h4>
  </div>
  <div class="contact-row">
    <div class="row contact-row-padding">
      <button class="col-md-3 icon animated tada" type="button">
        <a
          href="https://www.facebook.com/AleBabka-Pracownia-Cukiernicza-Bartoszyce-2097772840523601/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div><i class="fab fa-facebook"></i></div>
          <p>Napisz do nas na Facebook'u</p>
        </a>
      </button>

      <button class="col-md-3 icon animated tada" type="button">
        <a
          href="https://www.instagram.com/pracowniacukiernicza/?fbclid=IwAR0VwtffIMJfzsL_mJPKUrYjWVZesvpIEv1MfRgXTEtmqliayddvrNzaQbY"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div><i class="fab fa-instagram"></i></div>
          <p>Znajdź nas na Instagramie</p>
        </a>
      </button>
      <button class="col-md-3 icon animated tada" type="button">
        <a href="mailto:kontakt@alebabka.com">
          <div><i class="fas fa-envelope"></i></div>
          <p>Skontaktuj się poprzez e-mail</p>
        </a>
      </button>
      <button class="col-md-3 icon animated tada" type="button">
        <a href="tel:+48506080884">
          <div><i class="fas fa-phone"></i></div>
          <p>Zadzwoń do nas</p>
        </a>
      </button>
    </div>
  </div>
  <h2>Dane Kontaktowe</h2>
  <div class="contact-info wow fadeIn slower">
        <table>
          <tr>
            <td>Nazwa firmy:</td>
            <td>Pracownia Cukiernicza AleBabka!</td>
          </tr>
          <tr>
            <td>Imię i nazwisko:</td>
            <td>Magdalena Wiśniewska-Chołody</td>
          </tr>
          <tr>
            <td>Telefon:</td>
            <td>+48 502 177 788</td>
          </tr>
          <tr>
            <td>Adres:</td>
            <td>Połęcze 52, 11-200 Bartoszyce</td>
          </tr>
          <tr>
            <td>E-mail:</td>
            <td>kontakt@alebabka.com</td>
          </tr>
          <tr>
            <td>Facebook:</td>
            <td>
              <a
                href="https://www.facebook.com/alebabkapracowniacukierniczabartoszycetortyciasta/"
                target="_blank"
                rel="noopener noreferrer"
                >AleBabka Pracownia Cukiernicza Bartoszyce</a
              >
            </td>
          </tr>
          <tr>
            <td>Instagram:</td>
            <td>
              <a
                href="https://www.instagram.com/AleBabkaPracowniaCukiernicza/"
                target="_blank"
                rel="noopener noreferrer"
                >AleBabka PracowniaCukiernicza</a
              >
            </td>
          </tr>
        </table>
        <div class="contact-map">
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2332.132648490138!2d20.812671315841175!3d54.230840980173895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e2574101382455%3A0x4b2832666d7029ce!2zUG_FgsSZY3plIDUyLCAxMS0yMDAgUG_FgsSZY3pl!5e0!3m2!1spl!2spl!4v1551804067949"
            frameborder="2"
            allowfullscreen
          ></iframe>
        </div>
    </div>
  </div>
</div>
{% include footer.html %}
