<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.map"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/functions.js"
></script>
<script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="https://kit.fontawesome.com/99241609e5.js"></script>
<script src="{{ site.baseurl }}/assets/js/lightgallery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lg-thumbnail.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lg-fullscreen.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/lg-video.min.js"></script>
<script>
  new WOW().init();
</script>
