<!-- Navigation -->
<div class="sidebar-menu hidden">
  <div class="sidebar-content">
    <a href="" class="sidebar-logo"
      ><img class="img-fluid" src="{{ site.baseurl }}/assets/img/logo_frame.png"
    /></a>
    <a href="" class="link">Strona Główna</a>
    <a href="" class="link">O Pracowni</a>
    <a href="" class="link">Oferta</a>
    <a href="" class="link">Blog</a>
    <a href="" class="link">Kontakt</a>
    <div class="social-link">
      <a
        href="https://www.facebook.com/alebabkapracowniacukierniczabartoszycetortyciasta/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-facebook-f"></i
      ></a>
      <a
        href="https://www.instagram.com/AleBabkaPracowniaCukiernicza/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
<nav class="nav-wrap" id="nav">
  <div class="container-fluid" id="nav-stripe"></div>
  <div class="container" id="nav-content">
    <a href="index.html" class="nav-logo"
      ><img
        class="img-fluid"
        id="logo-image"
        src="{{ site.baseurl }}/assets/img/logo_frame.png"
    /></a>
    <div class="responsive-menu">
      <div class="text-menu">Menu</div>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
    </div>

    <ul class="navigation">
      {% if page.url != "/" %}
      <li>
        <a href="{{ site.baseurl }}/">
          Strona Główna
        </a>
      </li>
      {% endif %} {% if page.url != "/pracownia/" %}
      <li>
        <a href="{{ site.baseurl }}/pracownia/">
          O Pracowni
        </a>
      </li>
      {% endif %} {% if page.url != "/oferta/" %}
      <li>
        <a href="{{ site.baseurl }}/oferta/">
          Oferta
        </a>
      </li>
      {% endif %} {% if page.url != "/blog/" %}
      <li>
        <a href="{{ site.baseurl }}/blog/">
          Blog
        </a>
      </li>
      {% endif %} {% if page.url != "/kontakt/" %}
      <li>
        <a href="{{ site.baseurl }}/kontakt/">
          Kontakt
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="lace"></div>
</nav>
