<!-- Navigation -->
<div class="sidebar-menu hidden">
  <div class="sidebar-content">
    <!-- <a class="sidebar-exit"><i class="fas fa-times"></i></a> -->
    <div class="sidebar-btn">
      <div class="btn-x"></div>
      <div class="btn-x"></div>
      <div class="btn-x"></div>
    </div>
    <a href="{{ site.baseurl }}/" class="sidebar-logo"
      ><img class="img-fluid" src="{{ site.baseurl }}/assets/img/logo_frame.png"
    /></a>
    <a href="{{ site.baseurl }}/" class="link">Strona Główna</a>
    <a href="{{ site.baseurl }}/pracownia/" class="link">O Pracowni</a>
    <a href="{{ site.baseurl }}/oferta/" class="link">Oferta</a>
    <a href="{{ site.baseurl }}/blog/" class="link">Blog</a>
    <a href="{{ site.baseurl }}/kontakt/" class="link">Kontakt</a>
    <div class="social-link">
      <a
        href="https://www.facebook.com/alebabkapracowniacukierniczabartoszycetortyciasta/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-facebook-f"></i
      ></a>
      <a
        href="https://www.instagram.com/AleBabkaPracowniaCukiernicza/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
<nav class="nav-wrap" id="nav">
  <div class="container-fluid" id="nav-stripe"></div>
  <div class="container" id="nav-content">
    <a href="{{ site.baseurl }}/" class="nav-logo"
      ><img
        class="img-fluid"
        id="logo-image"
        src="{{ site.baseurl }}/assets/img/logo_frame.png"
    /></a>
    <div class="responsive-menu">
      <div class="text-menu">Menu</div>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
    </div>

    <ul class="navigation">
      <li>
        <a href="{{ site.baseurl }}/">
          Strona Główna
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/pracownia/">
          O Pracowni
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/oferta/">
          Oferta
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog/">
          Blog
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/kontakt/">
          Kontakt
        </a>
      </li>
    </ul>
  </div>
  <div class="lace"></div>
</nav>
