{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a
    class="btnPag prev"
    href="{{ paginator.previous_page_path | relative_url }}"
    >&laquo; Poprzednie</a
  >
  {% else %}
  <span class="btnPag prev">&laquo; Poprzednie</span>
  {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
  paginator.page %}
  <em class="page-active">{{ page }}</em>
  {% elsif page == 1 %}
  <a class="page" href="{{ paginator.previous_page_path | relative_url }}">{{
    page
  }}</a>
  {% else %}
  <a
    class="page"
    href="{{ site.paginate_path | relative_url | replace: ':num', page }}"
    >{{ page }}</a
  >
  {% endif %} {% endfor %} {% if paginator.next_page %}
  <a class="btnPag next" href="{{ paginator.next_page_path | relative_url }}"
    >Następne &raquo;</a
  >
  {% else %}
  <span class="btnPag next">Następne &raquo;</span>
  {% endif %}
</div>
{% endif %}
