.btn-outline-secondary {
  border-color: $primary-color !important;
  color: $primary-color !important;
  border-radius: 10px;
  border-width: 1.7px;
  border-style: groove;
  font-weight: 700;
  padding: 10px;
  margin: 15px;
  a {
    color: $primary-color;
  }
}
.btn-outline-secondary:focus {
  border-color: $primary-color !important;
  background: white !important;
  color: $primary-color !important;
  a {
    color: $second-color;
  }
}
.btn-outline-secondary:hover {
  transition: ease-in 0.3s;
  border-color: white !important;
  background: $primary-color !important;
  color: white !important;
  a {
    color: $second-color;
  }
}
.btn-outline-secondary:active {
  background: $primary-color !important;
  color: white !important;
  a {
    color: $second-color;
  }
}
