.gallery {
  display: flex;
  align-items: center;
  .btn-gallery {
    background: transparent;
    border: 0;
    h1 {
      background: $primary-color;
      color: $second-color;
      border-radius: 15px;
      position: absolute;
      padding: 5px;
      font-size: 2em;
    }
  }
  .btn-gallery:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .btn-gallery::after {
    display: block;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      $fourth-color 100%
    );
    margin-top: -500px;
    height: 500px;
    @media only screen and (max-width: 1000px) {
      margin-top: -200px;
      height: 200px;
    }
    width: 100%;
    content: "";
  }
  .photos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    img {
      height: 200px;
      border-radius: 15px;
      border: 2px solid $primary-color;
      @media only screen and (max-width: 767px) {
        height: 150px;
      }
    }
  }
}
