//Navigation
.nav-wrap {
  transition: all 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  #nav-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    @media screen and (max-width: 600px) {
      padding: 35px 20px;
    }
    .nav-logo {
      height: 120px;
      @media screen and (max-width: 600px) {
        height: 60px;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
    .logo-small {
      height: 50px;
    }
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        display: block;
        padding-right: 20px;
        a {
          color: $second-color;
          transition: all 0.15s ease-in;
          font-size: 1em;
          font-weight: 700;
          @media screen and (max-width: 600px) {
            font-size: 0.7em;
          }
        }
        a:hover {
          color: darken($second-color, 25%);
        }
      }
      li:last-of-type {
        padding-right: 0;
      }
    }
  }
}
.active {
  background-color: $primary-color;
  position: fixed;
  height: 60px;
  margin-top: 15px;
  #nav-content {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

#nav-stripe {
  margin-top: -15px;
  padding: 0;
  position: fixed;
  height: 19px;
  visibility: hidden;
  background-image: radial-gradient(#fafafa 25%, transparent 20%),
    radial-gradient(#fafafa 25%, transparent 20%);
  background-color: #9b59b6;
  background-position: 0 0, 10px 15px;
  background-size: 20px 21px;
  width: 100%;
}
.visible {
  visibility: visible;
}

.lace {
  height: 40px;
  //margin-bottom: 15px;
  background-image: radial-gradient(
    circle at 15px 0,
    $primary-color 2px,
    darken($primary-color, 2%) 20px,
    rgba(255, 255, 255, 0) 21px
  );
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 30px 21px;
  visibility: hidden;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
