---
layout: default
title: My Blog
---

{% for post in site.posts offset: 0 limit: 1 %}
<header
  class="header-blog"
  style="background-image:url('{{ site.baseurl }}{{ site.pathToBlogImgBin }}{{
    post.featImg
  }}'); background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;"
>
  <div class="overlay-light"></div>
  {% include nav.html %}
  <div class="home-title">
    <h1 class="animated slideInRight">
      {{ post.title }}
    </h1>
    <a class="readMore" href="{{ site.baseurl }}{{ post.url }}"
      >Przeczytaj więcej</a
    >
    <div class="social">
      <a
        href="https://www.facebook.com/alebabkapracowniacukierniczabartoszycetortyciasta/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-facebook-f"></i
      ></a>
      <a
        href="https://www.instagram.com/AleBabkaPracowniaCukiernicza/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</header>
{% endfor %}
<div class="container">
    <div class="row blog-description">
      <div class="col-md-7 blog-about">
          <h3>Wtam słodko na moim blogu!</h3>
          <p>Znajdziecie tu informacje o naszej pracowni, o mnie oraz przepisy na ciasta i wiele innych.
          Blog dzieli się na trzy podstawowe kategorie: </p>
            <ul>
              <li>Aktualności</li>
              <li>Promocje</li>
              <li>Przepisy</li>
            </ul> 
          </p>
          
      </div>
      <div class="col-md-5 blog-owner">
          
        <img src="{{ site.baseurl }}/assets/img/alebabka-avatar.jpg">
        <h5>Zapraszam do czytania</h5>
        <p>Magdalena Wiśniewska-Chołody</p>
        
      </div>
    </div>
  <div class="blogContainer">
    {% for post in paginator.posts %}
    <div class="blogPostContainer">
      <div class="row">
        <div class="col-md-6 post-description">
        <a class="blogCategory"><span>{{ post.categories }}</span></a>
        <a href="{{ site.baseurl }}{{ post.url }}" class="blogTitle">{{ post.title }}</a>
        <p class="blogExcerpt">{{ post.excerpt }}</p>
        <a class="readMore" href="{{ site.baseurl }}{{ post.url }}"
      >Przeczytaj więcej</a
    >
        </div>
        <div class="col-md-6 blogPostFeatImg" onclick="location.href='{{ site.baseurl }}{{ post.url }}';" style="background-image: url('{{ site.baseurl }}{{ site.pathToBlogImgBin }}{{ post.featImg }}');"></div>
      </div>
    </div>
    {% endfor %} {% include paginator.html %}
  </div>
</div>
