---
layout: default
---

<header
  class="header-post"
  style="background-image:url(&quot;{{ site.baseurl }}{{
    site.pathToBlogImgBin
  }}{{ page.featImg }}&quot;);"
>
  <div class="overlay-light"></div>
  {% include nav.html %}
  <div class="home-title">
    <h1 class="animated slideInRight">
      {{ page.title }}
    </h1>
    <h5>{{ page.excerpt }}</h5>
  </div>
  <div class="authorCard">
    <img src="{{ site.baseurl }}{{ site.data.authors[page.author].avatar }}" />
    <small>
      <em>
        dodane przez <a href="">{{ site.data.authors[page.author].name }}</a
        ><br />dnia {{ page.date | date: "%B %e, %Y" }}
      </em>
    </small>
  </div>
</header>
<div class="blogPost">
  {{ content }}
</div>
<hr />
<h4 class="readMore">Przeczytaj też</h4>
<div class="blogPostMoreContainer">
  {% for post in site.posts limit: 3%}
  <div class="blogPostMore">
    <a
      href="{{ site.baseurl }}{{ post.url }}"
      class="blogPostFeatImg"
      style="background-image: url('{{ site.baseurl }}{{
        site.pathToBlogImgBin
      }}{{ post.featImg }}');"
    ></a>
    <a class="blogCategory">{{ post.categories }}</a>
    <a href="{{ site.baseurl }}{{ post.url }}" class="blogTitle">{{
      post.title
    }}</a>
    <p class="blogExcerpt">{{ post.excerpt }}</p>
  </div>
  {% endfor %}
</div>
<hr />
