@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Roboto+Slab&display=swap");
h1,
h2,
h3 {
  font-family: "Berkshire Swash", cursive;
}
h4,
h5 {
  font-family: "Roboto Slab", serif;
}
p {
  font-family: "Roboto Slab", serif;
}
a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

$first-font: "Berkshire Swash", cursive;
$second-font: "Roboto Slab", serif;
